body {
    background-image: url('money.jpg');
    text-align: center;
}
#game
{
    margin-left: 7%;
    margin-right: 7%;
    font-weight: bolder;
    padding: 20px;
}
#infoGame{
    background-color: rgba(214, 252, 209, 0.829);
}
#howto
{
    text-align: left;
    font-weight: bolder;
}
#rules
{
    text-align: left;
    font-weight: bolder;
}

.form-control{
    display: block;      
    margin-left: auto;
    margin-right: auto;
}
#text_first{
    margin-left: 2%;
    text-justify: auto;
    text-align: left;
    font-size: x-large;
    word-wrap: break-word;
    font-weight: bolder;
    background-color: rgba(214, 252, 209, 0.829);
}

#item0, #item1, #item2, #item3, #item4, #id, #botoes {
    font-weight: bolder; 
    font-size: large;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#submit, #tip {
    font-weight: bolder; 
    font-size: large;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#billionaireImgs{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 2%;
}


#select span, #footer span, #selectbi span, #info_game span
{
    background-color: rgba(214, 252, 209, 0.829);
}

#tip0, #tip1, #tip2, #tip3 {
    width: 100px;
    height: 100px;
  }


#score:disabled{
    background-color: black;
    color: white;
    font-weight: bolder;
  }

.modal {
overflow-y:auto;
}

@media screen and (min-width: 1051px) {
    body {
        margin-right: 5%;
        margin-left: 5%;
    }
    #infoGame{
        margin-left: 20%;
        margin-right: 20%;
    }
    #howto {
      font-size: 2vw;
    }
    #rules
    {
    font-size: x-large;
    }
    body {
        background-size: 10%;
    }
    #logo {
        position: static;
        width: 40%;
    }
    .form-control{
        width: 40%;
        margin-top: 1%;
    }
    #info_person {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3%;
    }
    #go_second_page {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: large;
    }
    #nameleader {
        vertical-align: middle;
        align-self: center;
        display: flex;
        justify-content: center;
        font-size: large;
    }
    #inlineFormCustomSelect {
        font-size: x-large;
    }
    #nameLeaderboard {
        margin: auto;
        display: flex;
        vertical-align: middle;
        align-self: center;
        justify-content: center;
        width: 100%;
        font-size: x-large;
    }
    #item0, #item1, #item2, #item3, #item4 {
        height: 8vw; 
    }
    #tip, #submit{
        width: 15vw;
        height: 5vw;
    }
    .col-xs-3{
        margin-left: 1%;
        margin-right: 1%;
    }
    #score{
        width: 12vw;
        height: 5vw;
    }
    #container_botoes{
        margin-bottom: 2%;
        
    }
    #botoes {
        max-height: 50px;
    }
    #SelectBiHome{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #billionaire{
        width: 70%;
    }
    #leaderboardImg{
        cursor:pointer;
    }
    #info_game{
        margin-top: 1%;
        font-size: 1.5vw;
        font-weight: bolder;
    }
  }
  
  
  @media screen and (max-width: 1050px) {
    #infoGame{
        margin-left: 5%;
        margin-right: 5%;
    }
    #rules
    {
    font-size: small;
    }
    body {
        background-size: 50%;
    }
    #logo {
        position: static;
        width: 90%;
    }
    #selectbi{
        margin-top: 8%;
        font-size: 9vw;
        font-weight: bolder;
    }
    #nameLeaderboard {
        width: 100%;
        font-size: large;
    }
    .form-control{
        width: 70%;
        margin-left: auto;
        margin-top: 5%;
    }
    #info_person {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3%;
      }
    #img_first {
        width: 85%;
    }
    #text_first{
        margin-left: 2%;
        margin-top: 2%;
        text-justify: auto;
        text-align: left;
        font-size: medium;
        word-wrap: break-word;
        font-weight: bolder;
        background-color: rgba(214, 252, 209, 0.829);
    }
    #tip, #submit{
        font-size: small;
        height: 20vw;
    }
    #score{
        font-size: small;
        height: 20vw;
    }
    #container_botoes{
        overflow: hidden;
        position: fixed;
        bottom: 1%;
        width: 100%;
        max-height: 300px;
        
    }
    #botoes {
        max-height: 90px;
    }
    #last_table{
        margin-bottom: 30%;
    }

    #info_game{
        margin-top: 8%;
        font-size: 6vw;
        justify-content: space-between;
        font-weight: bolder;
        margin-left: 1%;
        margin-right: 1%;
    }
    #tip_message, #submissions, #scoreCounting{
        font-size: x-large;
    }

    #leaderboardImg{
        width: 100%;
        cursor:pointer;
    }
    #SelectBiHome{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    div#nameleader{order: 1;}
    div#go_second_page{order: 2;}
    div#backButton{order: 3;}
    div#nextButton{order: 4;}

    #go_second_page{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 5%;
    }

    #backButton{
        margin-right: 5%;
        margin-top: 10%;
    }
    #nextButton{
        margin-left: 5%;
        margin-top: 10%;
    }
    #billionaire{
        width: 100%;
    }

  }

  @media only screen and (max-width: 1025px) and (min-width: 760px){
    #tip, #submit{
        font-size: small;
        height: 10vw;
    }
    #score{
        font-size: small;
        height: 10vw;
    }
   }
